<html>
  <head>
    <title>Registration form</title>
  </head>
  <link rel="stylesheet" href="../static/form.css">
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch&family=Poly&family=Rajdhani&family=Sigmar&display=swap" rel="stylesheet"> 
  <body>
    <p style="margin-top: 2%; font-size: 60px; margin-left: 43%;font-family: 'Audiowide', cursive;color: aqua;">Register</p>
    <form style="font-family:  'Poly', serif;font-size: 20px;">
        <p class="headings" style="font-size:35px;font-family: 'Audiowide', sans-serif;">Personal Details</p>
      <label for="name">Name </label>
      <input type="text" id="textbox"/><br /><br />
      <!-- <label for="branch">Branch</label>
      <input type="text" id="textbox" /><br /><br /> -->
      <label for="branch">Branch </label>
      <select id="car" name="branch">
        <!-- <option value="">Choose a time</option> -->
        <option value="volvo">CSE</option>
        <option value="saab">ECE</option>
        <option value="fiat">CSD</option>
        <option value="audi">CLD</option>
        <option value="i10">CND</option>
        <option value="swift">CHD</option>
        <option value="mercedes">ECD</option>
      </select><br><br>
      <label for="cg">CG </label>
       <input type="text" id="textbox_cg" /><br /><br />
      <!-- <label for="email">Email Id</label>
      <input type="text" id="textbox" /><br /><br /> -->
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        Gender :
        <input type="radio" name="Gender" value="Male" />
        <label for="male" class="radio_button">Male</label>
        <input type="radio" name="Gender" value="Female" />
        <label for="female" class="radio_button">Female</label><br />
      </p>
      <label for="age">Age </label>
      <input type="text" id="textbox_age" /><br /><br />
      <p style="font-size:35px;font-family: 'Audiowide', sans-serif;" class="headings">Lifestyle</p>
      <!-- <p style="font-size:25px;">Sleep Schedule</p> -->
      <label for="sleeptime">When do you go to bed?</label>
      <select id="ca" name="sleeptime">
       
        <!-- <option value="">Choose a time</option> -->
        <option value="volvo">8PM-9PM</option>
        <option value="saab">9PM-10PM</option>
        <option value="fiat">10PM-11PM</option>
        <option value="audi">11PM-12AM</option>
        <option value="i10">12AM-1AM</option>
        <option value="swift">1AM-2AM</option>
        <option value="mercedes">After 2AM</option>
   
      </select> 

   
      <br /> <br /> <br>
      <label for="sleeptime">When do you go wake up?</label>
      <select id="cars" name="wakeuptime" class="radio_button">
        <!-- <option value="">Choose a time</option> -->
        <option value="volv">3AM-4AM</option>
        <option value="saa">4AM-5AM</option>
        <option value="fia">5AM-6AM</option>
        <option value="aud">6AM-7AM</option>
        <option value="i1">7AM-8AM</option>
        <option value="swif">8AM-9AM</option>
        <option value="mercede">After 9AM</option>
      </select> 
      <br /><br>
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        How neat organised are you?<br><br>
        <input type="radio" name="organised" value="1" />
        <label for="1" class="radio_button_1">1</label>
        <input type="radio" name="organised" value="2" />
        <label for="2" class="radio_button_1">2</label>
        <input type="radio" name="organised" value="3" />
        <label for="3" class="radio_button_1">3</label>
        <input type="radio" name="organised" value="4" />
        <label for="4" class="radio_button_1">4</label>
        <input type="radio" name="organised" value="5" />
        <label for="5" class="radio_button_1">5</label>
      </p>
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;"><br>
        Do you like socialising?<br><br>
        <input type="radio" name="social" value="1" />
        <label for="1" class="radio_button">Yes</label>
        <input type="radio" name="social" value="2" />
        <label for="2" class="radio_button">No</label><br><br>
       </p>
    <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
       Are you comfortable with noise when studying or relaxing?<br><br>
       <input type="radio" name="medications" value="1" />
       <label for="1" class="radio_button">Yes</label>
       <input type="radio" name="medications" value="2" />
       <label for="2" class="radio_button" >No</label><br><br></p>
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        Do you have any smoking or drinking habits?<br><br>
        <input type="radio" name="smoke" value="1" />
        <label for="1" class="radio_button">Yes</label>
        <input type="radio" name="smoke" value="2" />
        <label for="2" class="radio_button">No</label><br><br>
       </p>
       <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        Do you have any medications or allergies? <br><br>
        <input type="radio" name="medications" value="1" />
        <label for="1" class="radio_button">Yes</label>
        <input type="radio" name="medications" value="2" />
        <label for="2" class="radio_button">No</label><br><br>
       </p>
       <p style="font-size:35px;font-family: 'Audiowide', sans-serif;" class="headings">Preferences</p>
       <label for="cg">Preferred CG of roommate</label>
      <input type="text" id="textbox_cg" /><br /><br />
    </p>
        <label for="branch">Preferred branch of roommate</label>
        <select id="car" name="branch">
          <!-- <option value="">Choose a time</option> -->
          <option value="volvo">CSE</option>
          <option value="saab">ECE</option>
          <option value="fiat">CSD</option>
          <option value="audi">CLD</option>
          <option value="i10">CND</option>
          <option value="swift">CHD</option>
          <option value="mercedes">ECD</option>
        </select><br><br><p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
      Would you prefer to have a roommate with any smoking or drinking habits?<br><br>
      <input type="radio" name="smoke" value="1" />
      <label for="1" class="radio_button">Yes</label>
      <input type="radio" name="smoke" value="2" />
      <label for="2" class="radio_button">No</label><br><br>
     </p>
     <!-- Would you be comfortable if there is noise when studying or relaxing?<br><br>
     <input type="radio" name="medications" value="1" />
     <label for="1">Yes</label>
     <input type="radio" name="medications" value="2" />
     <label for="2">No</label><br><br></p> -->
     <input type="submit" value="Submit" style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;padding:5px 7px;font-size: 20px;" />
    </form>
  </body>
</html>
