<html>
  <head>
    <title>Registration form</title>
  </head>
  <link rel="stylesheet" href="../static/form.css">
  <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch&family=Poly&family=Rajdhani&family=Sigmar&display=swap" rel="stylesheet"> 
  <body>
    <p style="margin-top: 2%; font-size: 60px; margin-left: 43%;font-family: 'Arvo', cursive;color: aqua;">Register</p>
    <form style="font-family:  'Poly', serif;font-size: 20px;" method="POST" action="/register">
        <p class="headings" style="font-size:35px;font-family: 'Arvo', sans-serif;">Personal Details</p>
      <label for="name">Name </label>
      <input type="text" id="textbox" name="name" required/><br /><br />
      <label for="name">Photograph(jpeg/jpg link) </label>
      <input type="text" id="textbox" name="image"/><br /><br />
      <!-- <label for="branch">Branch</label>
      <input type="text" id="textbox" /><br /><br /> -->
      <label for="branch" >Branch </label>
      <select id="car" name="branch" required>
        <!-- <option value="">Choose a time</option> -->
        <option value="Computer Science Engineering">Computer Science Engineering</option>
        <option value="Chemical Engineering">Chemical Engineering</option>
        <option value="Electrical Engineering">Electrical Engineering</option>
        <option value="Mechanical Engineering">Mechanical Engineering</option>
        <option value="Civil Engineering">Civil Engineering</option>
        <!-- <option value="CHD">CHD</option>
        <option value="ECD">ECD</option> -->
      </select><br><br>
      <label for="cg" required>CG </label>
       <input type="text" id="textbox_cg" name="cg"/><br /><br />
      <!-- <label for="email">Email Id</label>
      <input type="text" id="textbox" /><br /><br /> -->
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        Gender :
        <input type="radio" name="gender" value="Male" required/>
        <label for="male" class="radio_button">Male</label>
        <input type="radio" name="gender" value="Female" required/>
        <label for="female" class="radio_button">Female</label><br />
      </p>
      <label for="age">Age </label>
      <input type="text" id="textbox_age" name="age"required/><br /><br />
      <p style="font-size:35px;font-family: 'Arvo', sans-serif;" class="headings">Lifestyle</p>
      <!-- <p style="font-size:25px;">Sleep Schedule</p> -->
      <label for="sleeptime">When do you go to bed?</label>
      <select id="ca" name="sleeptime"required>
       
        <!-- <option value="">Choose a time</option> -->
        <option value="8PM-9PM">8PM-9PM</option>
        <option value="9PM-10PM">9PM-10PM</option>
        <option value="10PM-11PM">10PM-11PM</option>
        <option value="11PM-12AM">11PM-12AM</option>
        <option value="12AM-1AM">12AM-1AM</option>
        <option value="1AM-2AM">1AM-2AM</option>
        <option value="After 2AM">After 2AM</option>
   
      </select> 

   
      <br /> <br /> <br>
      <label for="sleeptime">When do you wake up?</label>
      <select id="cars" name="wakeup" class="radio_button" required>
        <!-- <option value="">Choose a time</option> -->
        <option value="3AM-4AM">3AM-4AM</option>
        <option value="4AM-5AM">4AM-5AM</option>
        <option value="5AM-6AM">5AM-6AM</option>
        <option value="6AM-7AM">6AM-7AM</option>
        <option value="7AM-8AM">7AM-8AM</option>
        <option value="8AM-9AM">8AM-9AM</option>
        <option value="After 9AM">After 9AM</option>
      </select> 
      <br /><br>
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        How organised are you?<br><br>
        <input type="radio" name="organised" value="Very disorganized" required />
        <label for="1" class="radio_button_1">1</label>
        <input type="radio" name="organised" value="Slightly disorganized" required/>
        <label for="2" class="radio_button_1">2</label>
        <input type="radio" name="organised" value="Somewhat organized" required/>
        <label for="3" class="radio_button_1">3</label>
        <input type="radio" name="organised" value="Mostly organized" required/>
        <label for="4" class="radio_button_1">4</label>
        <input type="radio" name="organised" value="Extremely organized" required/>
        <label for="5" class="radio_button_1">5</label>
      </p>
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;"><br>
        Do you plan on bringing friends over?<br><br>
        <input type="radio" name="social" value="Social" required/>
        <label for="1" class="radio_button">Yes</label>
        <input type="radio" name="social" value="Non-social" required />
        <label for="2" class="radio_button">No</label><br><br>
       </p>
    <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
       Are you fine with loud music while studying or relaxing?<br><br>
       <input type="radio" name="noise" value="Comfortable with noise when studying or relaxing" required />
       <label for="1" class="radio_button">Yes</label>
       <input type="radio" name="noise" value="Not comfortable with noise when studying or relaxing" required/>
       <label for="2" class="radio_button" >No</label><br><br></p>
      <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        Do you smoke?<br><br>
        <input type="radio" name="smoke" value="Smoker" required/>
        <label for="1" class="radio_button">Yes</label>
        <input type="radio" name="smoke" value="Non-smoker" required />
        <label for="2" class="radio_button">No</label><br><br>
       </p>
       <p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
        Do you have any medications or allergies? <br><br>
        <input type="radio" name="medications" value="Doesn't have any medication or allergies" required/>
        <label for="1" class="radio_button">Yes</label>
        <input type="radio" name="medications" value="Has medication or allergies" required/>
        <label for="2" class="radio_button">No</label><br><br>
       </p>
       <p style="font-size:35px;font-family: 'Arvo', sans-serif;" class="headings">Preferences</p>
       <label for="cg">Preferred Minimum CG of roommate</label>
      <input type="text" id="textbox_cg" name="cg_p" required style="margin-left: 207px;"><br /><br />
    </p>
    <label for="cg">Preferred Maximum CG of roommate</label>
    <input type="text" id="textbox_cg" name="cg_p_max" required style="margin-left: 206px;"><br /><br />
  </p>
        <label for="branch">Preferred branch of roommate</label>
        <select id="car" name="branch_p" required style="margin-left: 260px;">
          <!-- <option value="">Choose a time</option> -->
          <option value="Any">Any</option>
          <option value="Computer Science Engineering">Computer Science Engineering</option>
          <option value="Chemical Engineering">Chemical Engineering</option>
          <option value="Electrical Engineering">Electrical Engineering</option>
          <option value="Mechanical Engineering">Mechanical Engineering</option>
          <option value="Civil Engineering">Civil Engineering</option>
          
        </select><br><br><p style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;">
      Are you fine with having a roommate who is a smoker?
      <input type="radio" name="smoke_p" value="Yes" required style="margin-left: 50px;"/>
      <label for="1" class="radio_button">Yes</label>
      <input type="radio" name="smoke_p" value="No" required/>
      <label for="2" class="radio_button">No</label><br><br>
     </p>
     <!-- Would you be comfortable if there is noise when studying or relaxing?<br><br>
     <input type="radio" name="medications" value="1" />
     <label for="1">Yes</label>
     <input type="radio" name="medications" value="2" />
     <label for="2">No</label><br><br></p> -->
     <input type="submit" value="Submit" style="margin-left: 2%; font-family: 'Chakra Petch', sans-serif;padding:5px 7px;font-size: 20px;" />
    </form>
  </body>
  <br><br><br><br>
<!--   
	<footer>
    <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp;&emsp;|&emsp;&emsp; <form class="sumit" action="/"> <button id = "prabhav">MatchBox</button>  </form> &emsp;&emsp;|&emsp;&emsp; All rights reserved &emsp;&emsp;|&emsp;&emsp; <form class="sumit" action="/about"> <button id="prabhav"> About Us </button> </form> </span>
</footer> -->

</html>