<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/stylesheet.css">
        <title>MatchBox</title>
        <style>
        

        </style>
    </head>  
    <body style="background-size: cover; padding-top: 100px; color:white; font-size: 30px; ">

    <div id="bg-image"></div>
    <div id="home-head"><img id="home-logo" src="../static/img/logo3.png">
    <div id="text"></div>

    <div id="buttons">
        <form action="/signup"><button>Sign Up</button></form>
        &emsp;&emsp;&emsp;&emsp;&emsp;
        <form action="/login"><button>Log In</button></form>
    </div>

    <div class="container">

        <div><img id="body-logo" src="../static/img/logo3.png"></div>
        <div class="vertical-line"></div>
        <div id="text1">Your perfect <span class="text1" style="color:rgb(255, 98, 0)">match</span> <br>&emsp;&emsp;&emsp;is just a click away...</div>
        <div id="review-box">
            " My previous roommate had asthma and so I couldn't smoke. Thanks to MatchBox, I now have smoke ring contests with my roomie. "<br><br><br>
            <div style="text-align: right;">Tennis Taneja</div>
        </div>
        <div id="review-box" style="margin-left: 740px;">
            " Holmes is easily the ideal roommate for me. I have only MatchBox to thank for the fact that we spend quality time together perdorming crazy chemical experiments. "<br><br>
            <div style="text-align: right;">John Watson</div>
        </div>
        <div id="review-box" style="margin-left: 1350px;">
            " My roommate wakes me up exactly ten minutes before classes begin. Nothing more needs to be said about her. She's perfect. "<br><br><br>
            <div style="text-align: right;">Lateika Arora</div>
        </div>
    <br><br><br><br><br><br><br>    
    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>


	<footer>
        <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp;&emsp;|&emsp;&emsp; <form action="/"> <button id = "prabhav">MatchBox</button>  </form> &emsp;&emsp;|&emsp;&emsp; All rights reserved &emsp;&emsp;|&emsp;&emsp; <form action="/about"> <button id="prabhav"> About Us </button> </form> </span>
    </footer>

    </div>
    <script src="../static/homeffects.js"></script>
    </body>
</html>
